<!-- <pre>{{final | json}}</pre> -->
<!-- <pre>{{paths | json}}</pre> -->
<!-- <form [formGroup]="form">
<div *ngIf="form.controls.schemaName.value">
 
</div>
</form> -->
<!-- <div class="list">
<div
  *ngFor="let group of modelRoot"
  
>
{{group.parent}} {{group.fieldName}} 
<ng-container *ngFor="let groupItem of group.value">
  <ng-container *ngIf= "false"></ng-container>
</ng-container>
<div

>
</div>

</div>
</div>
<pre>{{modelRoot | json}}</pre> -->
<div>app</div>
<app-data-form [data]="data" [name]="name"></app-data-form>