<div class="start"></div><div class="indent" *ngFor="let i of ' '.repeat(_.level).split('');let i=index" [style.gridRowStart]="i+2"> </div> <div  [style.gridRowStart]="_.level+4" class="to-end"> C - {{ _?.key }} {{_ | json }}</div>
<div>
<!-- <div class="edit ico" (click)="removeField(fieldIndex)">
close
</div>
<div class="edit">
<input formControlName="fieldName" />
</div>

<div class="edit">
<select formControlName="fieldType">
  <option>string</option>
  <option>number</option>
  <option>boolean</option>
  <option>map</option>
  <option>array</option>
  <option>null</option>
  <option>timestamp</option>
  <option>geopoint</option>
  <option>reference</option>
</select>
</div>
<div class="edit">
<select formControlName="inputType">
  <option>input</option>
  <option>textarea</option>
  <option>number</option>
  <option>money</option>
  <option>date</option>
  <option>time</option>
  <option>select</option>
  <option>checkbox</option>
  <option>toggle</option>
  <option>slider</option>
  <option>chips</option>
  <option>picker</option>
  <option>radio</option>
  <option>score</option>
  <option>color</option>
  <option>stepper</option>
  <option>slider</option>
</select>
</div>
<div class="edit">
<input formControlName="inputLabel" />
</div> -->