:host  {
  display: grid;
  grid-auto-columns: minmax(20px, 1fr);
  grid-auto-flow: column;
  grid-template-rows: 20px;
  
}
.start {
  grid-column: 1;
  min-height: 20px;
  min-width: 20px;
}
.to-end {
  grid-column : auto / -1
}
.indent {
  min-height: 20px;
  min-width: 20px;
  
}