:host {
  display: grid;
  grid-auto-columns: auto;
}
.start {
  grid-column: 1;
}
.group {
  position: relative;
  padding-left: 30px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}
